<h1>Show Me Your Page</h1>
<img src="<%= @user.avatar_url %>" alt="">
<h2>Game Tag: <%= @user.gamer_tag %></h2>
<h2>Location: <%= @user.location %></h2>

<%= button_to "Edit Account", edit_user_path(@user), method: 'get' %>
